<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Musicgame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5840DC8F1DBB532A00C51466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5840DCA31DBB532A00C51466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5840DCAE1DBB532B00C51466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
